runs/*
FRAMES_unopersecondo/*
FRAMES_all/*
FRAMES/*
results/
__pycache__/*
MobileNetV2_exp1_200epoch_10fold_3segment_1frampersegment_64batchsize/*
ResNet50_exp13_1000epoch_10fold_3segment_1frampersegment_batchsize32/*
FireNetV2_400epoch_10fold_3segment_1frampersegment_batchsize32/ignore/*
ResNet50_exp13_1000epoch_10fold_3segment_1frampersegment_batchsize32/*
csv/*
